High-Incidents-Teams-adaptive-card.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_High_Incidents_Teams_adaptive_card_name": {
            "defaultValue": "High-Incidents-Teams-adaptive-card",
            "type": "String"
        },
        "connections_MicrosoftSentinel_High_Incidents_Teams_adaptive_card_externalid": {
            "defaultValue": "/subscriptions/b58ea857-41ff-4d93-9f00-7aa7ad9f51d6/resourceGroups/RG-IN2-SEC-MSSP-PRD-AWE-001/providers/Microsoft.Web/connections/MicrosoftSentinel-High-Incidents-Teams-adaptive-card",
            "type": "String"
        },
        "connections_teams_PostMessageTeamsMSSP_externalid": {
            "defaultValue": "/subscriptions/b58ea857-41ff-4d93-9f00-7aa7ad9f51d6/resourceGroups/RG-IN2-SEC-MSSP-PRD-AWE-001/providers/Microsoft.Web/connections/teams-PostMessageTeamsMSSP",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_High_Incidents_Teams_adaptive_card_name')]",
            "location": "westeurope",
            "tags": {
                "hidden-SentinelTemplateName": "Send-Teams-adaptive-card-on-incident-creation",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "/subscriptions/b58ea857-41ff-4d93-9f00-7aa7ad9f51d6/resourceGroups/RG-IN2-SEC-MSSP-PRD-AWE-001/providers/microsoft.OperationalInsights/Workspaces/ws-in2-sec-sea-mssp-prd-awe-01"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Condition_-_Change_Severity": {
                            "actions": {
                                "Update_incident_-_update_severity": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "severity": "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentSeverity']}"
                                        },
                                        "path": "/Incidents"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentSeverity']",
                                                "same"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_-_Close_incident": {
                            "actions": {
                                "Update_incident_-_close_incident": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "status": "Closed",
                                            "classification": {
                                                "ClassificationAndReason": "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentStatus']}",
                                                "ClassificationReasonText": "User choice from Send Teams adaptive card on incident creation playbook."
                                            }
                                        },
                                        "path": "/Incidents"
                                    }
                                }
                            },
                            "runAfter": {
                                "Condition_-_Change_Severity": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentStatus']",
                                                "no"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "For_each": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Compose_-_Adaptive_card_body": {
                                    "type": "Compose",
                                    "inputs": {
                                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                        "actions": [
                                            {
                                                "data": {
                                                    "x": "confirm"
                                                },
                                                "title": "Submit response!",
                                                "type": "Action.Submit"
                                            }
                                        ],
                                        "body": [
                                            {
                                                "size": "Large",
                                                "text": "New Microsoft Sentinel incident created",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "text": "[[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                "type": "TextBlock",
                                                "wrap": true
                                            },
                                            {
                                                "facts": [
                                                    {
                                                        "size": "medium",
                                                        "spacing": "large",
                                                        "title": "Incident Title",
                                                        "value": "@{triggerBody()?['object']?['properties']?['title']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Incident ID",
                                                        "value": "@{triggerBody()?['object']?['properties']?['incidentNumber']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Incident Creation time (UTC)",
                                                        "value": "@{triggerBody()?['object']?['properties']?['createdTimeUtc']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Severity",
                                                        "value": "@{triggerBody()?['object']?['properties']?['severity']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Alert Providers",
                                                        "value": "@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'],'; ')}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Tactics",
                                                        "value": "@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'], '; ')}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Incident Owner",
                                                        "value": "@{triggerBody()?['object']?['properties']?['owner']?['email']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Description",
                                                        "value": "@{triggerBody()?['object']?['properties']?['description']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Alert Description",
                                                        "value": "@{item()?['properties']?['description']}"
                                                    },
                                                    {
                                                        "spacing": "Medium",
                                                        "title": "Compromised Entity",
                                                        "value": "@{item()?['properties']?['compromisedEntity']}"
                                                    }
                                                ],
                                                "type": "FactSet"
                                            },
                                            {
                                                "size": "Large",
                                                "spacing": "Large",
                                                "text": "Respond:",
                                                "type": "TextBlock",
                                                "weight": "Bolder"
                                            },
                                            {
                                                "size": "Small",
                                                "style": "Person",
                                                "type": "Image",
                                                "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                            },
                                            {
                                                "text": "Close Microsoft Sentinel incident?",
                                                "type": "TextBlock"
                                            },
                                            {
                                                "choices": [
                                                    {
                                                        "isSelected": true,
                                                        "title": "Close incident - False Positive",
                                                        "value": "FalsePositive - IncorrectAlertLogic"
                                                    },
                                                    {
                                                        "title": "Close incident - True Positive",
                                                        "value": "TruePositive - SuspiciousActivity"
                                                    },
                                                    {
                                                        "title": "Close incident - Benign Positive",
                                                        "value": "BenignPositive - SuspiciousButExpected"
                                                    },
                                                    {
                                                        "title": "Don't close the incident",
                                                        "value": "no"
                                                    }
                                                ],
                                                "id": "incidentStatus",
                                                "style": "compact",
                                                "type": "Input.ChoiceSet",
                                                "value": "no"
                                            },
                                            {
                                                "text": "Change Microsoft Sentinel incident severity?",
                                                "type": "TextBlock"
                                            },
                                            {
                                                "choices": [
                                                    {
                                                        "isSelected": true,
                                                        "title": "High",
                                                        "value": "High"
                                                    },
                                                    {
                                                        "title": "Medium",
                                                        "value": "Medium"
                                                    },
                                                    {
                                                        "title": "Low",
                                                        "value": "Low"
                                                    },
                                                    {
                                                        "title": "Informational",
                                                        "value": "Informational"
                                                    },
                                                    {
                                                        "title": "Don't change",
                                                        "value": "same"
                                                    }
                                                ],
                                                "id": "incidentSeverity",
                                                "style": "compact",
                                                "type": "Input.ChoiceSet",
                                                "value": "same"
                                            }
                                        ],
                                        "type": "AdaptiveCard",
                                        "version": "1.4"
                                    }
                                },
                                "Post_adaptive_card_and_wait_for_a_response": {
                                    "runAfter": {
                                        "Compose_-_Adaptive_card_body": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnectionWebhook",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams-1']['connectionId']"
                                            }
                                        },
                                        "body": {
                                            "notificationUrl": "@{listCallbackUrl()}",
                                            "body": {
                                                "messageBody": "@{outputs('Compose_-_Adaptive_card_body')}",
                                                "updateMessage": "Thanks for your response!",
                                                "recipient": {
                                                    "groupId": "12b44fc9-8d61-44d4-bdce-f623515b337f",
                                                    "channelId": "19:b25f5eed0b6045fda4985cbf2f614bf4@thread.tacv2"
                                                }
                                            }
                                        },
                                        "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "type": "Object",
                        "value": {
                            "microsoftsentinel": {
                                "id": "/subscriptions/b58ea857-41ff-4d93-9f00-7aa7ad9f51d6/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_MicrosoftSentinel_High_Incidents_Teams_adaptive_card_externalid')]",
                                "connectionName": "[concat('MicrosoftSentinel-', parameters('workflows_High_Incidents_Teams_adaptive_card_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams-1": {
                                "id": "/subscriptions/b58ea857-41ff-4d93-9f00-7aa7ad9f51d6/providers/Microsoft.Web/locations/westeurope/managedApis/teams",
                                "connectionId": "[parameters('connections_teams_PostMessageTeamsMSSP_externalid')]",
                                "connectionName": "teams-PostMessageTeamsMSSP",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}