sentinel-notify-entity-logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "Sentinel-NotifyEntityUser",
      "metadata": { "description": "Name of the Logic App" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region" }
    },
    "notificationEmailFrom": {
      "type": "string",
      "metadata": { "description": "Sender address used in email notifications" }
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365-connection",
      "metadata": { "description": "Name of the Office 365 API connection" }
    },
    "sentinelWorkspaceId": {
      "type": "string",
      "metadata": { "description": "Log Analytics Workspace ID for Sentinel" }
    },
    "sentinelWorkspaceName": {
      "type": "string",
      "metadata": { "description": "Log Analytics Workspace name for Sentinel" }
    },
    "sentinelResourceGroup": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": { "description": "Resource group where Sentinel workspace lives" }
    },
    "tenantId": {
      "type": "string",
      "metadata": { "description": "Azure AD Tenant ID (used for MS Graph calls)" }
    }
  },
  "variables": {
    "office365ConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('office365ConnectionName'))]",
    "sentinelConnectionName": "azuresentinel-connection",
    "sentinelConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', variables('sentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 - Sentinel Notifications",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody().object.properties.relatedEntities"
              }
            },
            "For_each_account": {
              "runAfter": {
                "Entities_-_Get_Accounts": ["Succeeded"]
              },
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Compose_UPN": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@if(empty(items('For_each_account')?['UPNSuffix']), items('For_each_account')?['Name'], concat(items('For_each_account')?['Name'], '@', items('For_each_account')?['UPNSuffix']))"
                },
                "Get_User_from_Azure_AD": {
                  "runAfter": {
                    "Compose_UPN": ["Succeeded"]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{concat('https://graph.microsoft.com/v1.0/users/', encodeUriComponent(outputs('Compose_UPN')), '?$select=displayName,mail,userPrincipalName,jobTitle,department')}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Check_email_found": {
                  "runAfter": {
                    "Get_User_from_Azure_AD": ["Succeeded", "Failed"]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_User_from_Azure_AD')['statusCode']",
                            404
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@body('Get_User_from_Azure_AD')?['mail']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Send_notification_email": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail",
                        "body": {
                          "To": "@body('Get_User_from_Azure_AD')?['mail']",
                          "Subject": "[SECURITY ALERT] You are associated with a Microsoft Sentinel incident",
                          "Body": "<html><body style=\"font-family:Segoe UI,Arial,sans-serif;color:#1f1f1f;max-width:640px\">\n<div style=\"background:#0078d4;padding:20px 32px;border-radius:6px 6px 0 0\">\n  <h2 style=\"color:#fff;margin:0;font-weight:400\">Microsoft Sentinel Security Alert</h2>\n</div>\n<div style=\"border:1px solid #edebe9;border-top:none;padding:24px 32px;border-radius:0 0 6px 6px\">\n  <p>Dear <strong>@{body('Get_User_from_Azure_AD')?['displayName']}</strong>,</p>\n  <p>Our Security Operations team has detected a security incident in which your account has been identified as an associated entity.</p>\n  <table style=\"width:100%;border-collapse:collapse;margin:16px 0\">\n    <tr style=\"background:#f3f2f1\">\n      <td style=\"padding:8px 12px;font-weight:600;width:160px\">Incident Title</td>\n      <td style=\"padding:8px 12px\">@{triggerBody()?['object']?['properties']?['title']}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:8px 12px;font-weight:600\">Severity</td>\n      <td style=\"padding:8px 12px\">@{triggerBody()?['object']?['properties']?['severity']}</td>\n    </tr>\n    <tr style=\"background:#f3f2f1\">\n      <td style=\"padding:8px 12px;font-weight:600\">Status</td>\n      <td style=\"padding:8px 12px\">@{triggerBody()?['object']?['properties']?['status']}</td>\n    </tr>\n    <tr>\n      <td style=\"padding:8px 12px;font-weight:600\">Incident ID</td>\n      <td style=\"padding:8px 12px\">@{triggerBody()?['object']?['properties']?['incidentNumber']}</td>\n    </tr>\n    <tr style=\"background:#f3f2f1\">\n      <td style=\"padding:8px 12px;font-weight:600\">Detected At</td>\n      <td style=\"padding:8px 12px\">@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td>\n    </tr>\n  </table>\n  <p><strong>What does this mean?</strong><br/>This does not necessarily indicate that your account has been compromised. Our security team is investigating and may contact you to verify recent activity.</p>\n  <p><strong>What should you do?</strong></p>\n  <ul>\n    <li>Do NOT attempt to delete or modify any files or emails at this time</li>\n    <li>Contact your IT Security team immediately if you notice unusual activity</li>\n    <li>Do NOT share your credentials or MFA codes with anyone</li>\n    <li>Review your recent sign-in activity at <a href=\"https://mysignins.microsoft.com\">mysignins.microsoft.com</a></li>\n  </ul>\n  <p style=\"margin-top:24px;padding-top:16px;border-top:1px solid #edebe9;color:#605e5c;font-size:13px\">This is an automated notification from your organisation's Security Operations Centre. Do not reply to this email.</p>\n</div>\n</body></html>",
                          "Importance": "High",
                          "From": "[parameters('notificationEmailFrom')]"
                        }
                      }
                    },
                    "Add_comment_-_notified": {
                      "runAfter": {
                        "Send_notification_email": ["Succeeded"]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "[concat('/Incidents/subscriptions/@{encodeURIComponent(''', subscription().subscriptionId, ''')}/resourceGroups/@{encodeURIComponent(parameters(''sentinelResourceGroup''))}/workspaces/@{encodeURIComponent(parameters(''sentinelWorkspaceName''))}/comments')]",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "@{concat('Automated notification sent to entity user: ', body('Get_User_from_Azure_AD')?['displayName'], ' (', body('Get_User_from_Azure_AD')?['mail'], ') at ', utcNow())}"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_comment_-_no_email": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "[concat('/Incidents/subscriptions/@{encodeURIComponent(''', subscription().subscriptionId, ''')}/resourceGroups/@{encodeURIComponent(parameters(''sentinelResourceGroup''))}/workspaces/@{encodeURIComponent(parameters(''sentinelWorkspaceName''))}/comments')]",
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "@{concat('Could not send notification: no email address found in Azure AD for account entity \"', outputs('Compose_UPN'), '\".')}"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
